---
import AdminLayout from "@/layouts/AdminLayout.astro";
import { Button } from "@/components/ui/button";
import UserTable from "@/components/users/UserTable.vue";


let campaigns : any = await fetch(`${Astro.url.origin}/api/projects/${Astro.params.id}/campaigns.json`).then(res => res.json())
console.log(Astro.params.id, JSON.stringify(campaigns))

---

<AdminLayout>
  <div class="w-full h-full">
    <div class="p-4 py-6 flex justify-between items-center">
      <h1 class="text-3xl pl-4 font-brand font-bold text-white">Users</h1>

      <Button class="bg-blue-500 hover:bg-blue-600">Export CSV</Button>
    </div>
    <UserTable project_id={Astro.params?.id} campaigns={campaigns} client:only="vue" />

  </div>
</AdminLayout>

