---
import ChatVue from "../components/chat.vue"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>

		<script src="https://cdn.onesignal.com/sdks/web/v16/OneSignalSDK.page.js" defer></script>
		<script>
			declare global {
				interface Window {
					OneSignalDeferred:any[];
					OneSignal:any;
				}
			}
			window.OneSignalDeferred = window?.OneSignalDeferred || [];
			window.OneSignalDeferred.push(async function(OneSignal:any) {
				window.OneSignal = OneSignal;
				OneSignal.Debug.setLogLevel("info");
				await OneSignal.init({
					appId: "c2b79f79-a581-4577-bb70-1283e0626449",
					safari_web_id: "web.onesignal.auto.665a394a-cbcf-449b-8277-1a86a5e1eeb9",
					// notifyButton: {
					//   enable: true,
					// },
					allowLocalhostAsSecureOrigin: true,
				});
			});
		</script>

	</head>
	<body>

		<script>
			import { Buffer } from "buffer";

			window.Buffer = window.Buffer ?? Buffer;
		</script>

		<h1>Chat</h1>
        <ChatVue client:only="vue"></ChatVue>
	</body>
</html>
