---
import "@/styles/globals.css";
import NewStamper from "@/components/NewStamper.vue";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Playwrite+NZ:wght@100..400&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet" />
  </head>

  <body>
    <script>
      import "iconify-icon";
    </script>

    <main class="w-full min-w-screen h-full min-h-screen grid grid-cols-2 bg-blue-800">
      <div class="w-full h-full flex flex-col justify-center items-center">
        <div class="p-8 relative text-9xl text-white">
          <h1 class="font-brand font-semibold">New Stamp?</h1>
          <h1 class="font-brand font-semibold">Cool.</h1>
          <br />
          <br />
          
          <div id="stepslot">

          </div>

        </div>
      </div>

      <NewStamper client:only="vue"></NewStamper>

      
     
    </main>
  </body>
</html>
