---
import '@/styles/globals.css'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css2?family=Playwrite+NZ:wght@100..400&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet" crossorigin="anonymous">

    <script is:inline src="https://cdn.onesignal.com/sdks/web/v16/OneSignalSDK.page.js" defer></script>
		<script>
			declare global {
				interface Window {
					OneSignalDeferred:any[];
					OneSignal:any;
				}
			}
			window.OneSignalDeferred = window?.OneSignalDeferred || [];
			window.OneSignalDeferred.push(async function(OneSignal:any) {
				window.OneSignal = OneSignal;
				OneSignal.Debug.setLogLevel("info");
				await OneSignal.init({
					// appId: "c2b79f79-a581-4577-bb70-1283e0626449", // Prod
					// safari_web_id: "web.onesignal.auto.665a394a-cbcf-449b-8277-1a86a5e1eeb9", // Prod

					appId: "af1aebdb-7b33-498b-93ea-2611fc2611fb", // Dev
      				safari_web_id: "web.onesignal.auto.5093406a-927f-4c57-a877-608b6718a7cc", // Dev

					// notifyButton: {
					//   enable: true,
					// },
					allowLocalhostAsSecureOrigin: true,
				});
			});

      import { Buffer } from "buffer";

			window.Buffer = window.Buffer ?? Buffer;
		</script>

  </head>

  <body>

    <script>
        import "iconify-icon";
      </script>

    <slot></slot>

    
  </body>
</html>
