---
import "@/styles/globals.css";
import Siwe from "@/components/Siwe.vue";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap" rel="stylesheet" crossorigin="anonymous" />

  </head>

  <body>
    <script>
      import "iconify-icon";
    </script>

    <main class="w-screen h-screen flex justify-center items-center flex-col bg-bremo-950 font-adminss">

      
      
      <img class="rounded-xl overflow-hidden w-24 h-24 mb-4" src="/logo.png">
      
      <h1 class="text-5xl text-white mb-4 font-brand font-bold">REMO</h1>
      <h1 class="text-center text-2xl font-brand text-white">More Reach, More Growth</h1>
      

      <div class="w-full max-w-sm bg-bremo-900 rounded-xl mt-12 border border-bremo-800">

        <p class="mt-8 mb-6 text-center text-white">Sign In with Ethereum</p>

        <div>
          <Siwe client:only="vue" />
        </div>
      </div>
    </main>
  </body>
</html>
