---
import "@/styles/globals.css";
import Siwe from "@/components/Siwe.vue";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css2?family=Playwrite+NZ:wght@100..400&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet" crossorigin="anonymous" />
  </head>

  <body>
    <script>
      import "iconify-icon";
    </script>

    <main class="w-screen h-screen flex justify-center items-center">
      <div class="w-full max-w-sm border rounded-xl p-4">
        <div class="py-8">
          <h1 class="text-center font-semibold font-brand">Sign In with Ethereum</h1>
        </div>

        <div>
          <Siwe client:only="vue" />
        </div>
      </div>
    </main>
  </body>
</html>
